/*
COLORS
Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D
Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc
Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999
*/

$color-primary: #eb2f64;
$color-primary-dark: #BA265D;
$color-primary-light:  #FF3366;

$color-light-1: #faf9f9;
$color-light-2: #f4f2f2;
$color-light-3: #f0eeee;
$color-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-white: #fff;

$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px

$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);


